
.filter-container {
    margin-bottom: 12;
    width: auto;
}

.filter-container label {
    margin-right: 8;
    font-weight: 500;
}

.filter-container select {
    padding: 4px 8px;
    font-size: 14;
}

.chart-container {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
