<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DATS 4001 Capstone</title>
        <style>
        h1 {
            color:blue;
        }
        </style>
    </head>
    <body>
        <h1>DATS 4001 Project</h1>
        <h2>Search Members</h2>

        <form action="/member" method="get">
            <select name="full_name" required>
                <option value="">Select a Member</option>
                {% for member in members %}
                    <option value="{{ member.full_name }}">
                        {{ member.full_name }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit">View Member</button>
        </form>
    </body>
</html>

<!-- JavaScript -->
<script>

</script>