.member-select-card {
  background: white;
  border-radius: 12px;
  border: 0.5px solid #f4c0d1;
  padding: 2rem 2.5rem;
  max-width: 420px;
  margin: 3rem auto;
}

.member-select-form {
  display: flex;
  flex-direction: column; /* this is what stacks them */
  gap: 12px;
  width: 50%;
}

/* select {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1.5px solid #ed93b1;
  font-size: 14px;
  appearance: none;
  cursor: pointer;
}

select:focus {
  outline: none;
  border-color: #d4537e;
} */

.dropdown {
  position: relative;
  width: 100%;
}

.dropdown input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1.5px solid #ed93b1;
  font-size: 14px;
}

.dropdown-list {
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ed93b1;
  border-radius: 8px;
  margin-top: 4px;
  z-index: 1000;
  list-style: none;
  padding: 0;
  text-align: left;
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background: #ffe3ec;
}

.no-results {
  padding: 10px;
  color: #888;
}

button {
  width: 100%;
  padding: 10px 12px;
  border-radius: 50px !important;
  border: none;
  background: #FF758F;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

button:hover:not(:disabled) {
  background: #E6677F;
}

button:disabled {
  background: #FFB3C1;
  cursor: not-allowed;
}

.externalLink {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #FF758F;
  text-decoration: underline;
  cursor: pointer;
}

.externalLink:hover {
  color: #E6677F;
}