.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
  height: 60px;
  background-color: #FFB3C1;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  font-family: 'Playfair Display', serif;

}

.navbar-brand {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: white !important;
  display: flex;
  align-items: center;
}

/* Brand as link */
.brand-link {
  color: white !important;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;;
  transition: color 0.2s;
}

.navbar-links a:hover,
.navbar-links a.active {
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 2px;
}

/* Dropdown */
.dropdown-wrapper {
  position: relative;
}

/* Dropdown Button */
.dropbtn {
  height: auto;
  width: auto;
  border-radius: 0 !important;
  background-color: #FFB3C1;
  color: white;
  padding: 0px;
  font-size: 1.1rem;;
  border: none;
}

.dropbtn:hover {
  background-color: #FFB3C1 !important;
  border-bottom: 2px solid white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFB3C1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #E6677F;
  border-bottom: 0px solid transparent;
  padding: 12px 16px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* flower icon in navbar */
.flower-icon {
  width: 30px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
  margin-left: 10px;
}

.flower-icon:hover {
  transform: scale(1.2);
}

/* container for floating flowers */
/* container for drops */
.flower-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
  visibility: hidden;
}

@keyframes fall {
  0% {
    transform: translateY(-50px) rotate(0deg);
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
  }
}

.falling-drop {
  position: absolute;
  top: -50px;
  animation-name: fall;
  animation-timing-function: linear;
}